<mat-toolbar color="primary">
  <a routerLink="/" class="toolbar-title">Atiduodu.lt</a>
  <span class="fill-remaining-space"></span>
  <div *ngIf="!user">    <a mat-button [routerLink]="['/signup']">Registruotis</a>
    
    <a mat-button [routerLink]="['/login']" >Prisijungti</a>
    
  </div>
  <div *ngIf="user">
    <button mat-icon-button class="mobile-menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/item/new']">Naujas skelbimas</a>
      <a mat-menu-item [routerLink]="['/messages']">
        <span>Žinutės</span> 
        <mat-chip-list *ngIf="messages > 0" style="display:inline-block">
          <mat-chip color="accent">{{messages}}</mat-chip>
        </mat-chip-list>
      </a>
      <a mat-menu-item [routerLink]="['/notifications']">
        <span>Pranešimai</span> 
        <mat-chip-list *ngIf="notifications > 0" style="display:inline-block">
          <mat-chip color="accent">{{notifications}}</mat-chip>
        </mat-chip-list>
      </a>
      <a mat-menu-item [routerLink]="['/user', user._id]"><strong>{{ user.profile.name}} Profilis</strong></a>
      <a mat-menu-item (click)="logout()">Atsijungti</a>
    </mat-menu>
    <div class="normal-menu">
      <a mat-button [routerLink]="['/item/new']">Naujas skelbimas</a>
      <a mat-button [routerLink]="['/messages']">
      <span>Žinutės</span> 
      <mat-chip-list *ngIf="messages > 0" style="display:inline-block">
        <mat-chip color="accent">{{messages}}</mat-chip>
      </mat-chip-list>
      </a>
      <a mat-button [routerLink]="['/notifications']">
      <span>Pranešimai</span> 
      <mat-chip-list *ngIf="notifications > 0" style="display:inline-block">
        <mat-chip color="accent">{{notifications}}</mat-chip>
      </mat-chip-list>
    </a>
    <a mat-button [routerLink]="['/user', user._id]"><strong>{{ user.profile.name}}</strong></a>
    <a mat-button (click)="logout()">Atsijungti</a>
    </div>
  </div>

</mat-toolbar>
<div class="container">
<router-outlet></router-outlet>
</div>
