.toolbar-title {
  text-decoration: none;
  color: white;
}

md-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.container{
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
items-list{
    width:100%;
}
