        <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addComment()">
          <div style="display: table-row">
            <div class="form-inputs">
                <mat-form-field>
                    
              <input matInput  dividerColor="accent" formControlName="body" placeholder="Komentaras"/>
              </mat-form-field> 
              <br/>
              <button color="accent"-raised-button type="submit">Išsaugoti komentarą</button>
            </div>
          </div>
        </form>
        <div *ngIf="!user">
          Norėdami komentuoti privalote prisijungti!
        </div>