$break-small: 700px;
$break-large: 1100px;

.toolbar-title {
  text-decoration: none;
  color: white;
}

md-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
items-list{
    width:100%;
}
.mobile-menu{
  display:none;
  @media screen and (max-width: $break-small) {
    display:block;
  }
}
.normal-menu{
  @media screen and (max-width: $break-small) {
    display:none;
  }
}