<mat-card class="notifications">
    <mat-toolbar  class="md-primary"  color="primary">
        Pranešimai
    </mat-toolbar>
    <mat-list>
        <mat-list-item *ngFor="let notification of notifications|async">
            <mat-icon mat-list-icon>feedback</mat-icon>
            <h4 mat-line><a [routerLink]="'/' + notification.url">{{notification.text}}</a></h4>
            <p mat-line> {{notification.timestamp | amTimeAgo}} </p>
        </mat-list-item>
    </mat-list>
    <h2 *ngIf="!(notifications | async)">Pranešimų nėra</h2>
</mat-card>