<div class="parties-update-container" style="overflow: hidden; position: relative;">
  <div fileDrop
       [ngClass]="{'file-is-over': fileIsOver, 'file-uploading': uploading}"
       (fileOver)="fileOver($event)"
       (onFileDrop)="onFileDrop($event)">
      
    <div>Tempkite nuotraukas čia</div>
    <input #input type="file" multiple style="opacity: 0; font-size: 100px; top: 0; right: 0; position: absolute;  cursor: pointer;" (change)="onFileInputChange($event.target.files)"/>
  </div>
</div>