<div class="item-list">
    <md-card class="map">
      <md-toolbar class="md-primary" color="primary">
        Skelbimų žemėlapis
      </md-toolbar>
      <sebm-google-map class="all-items-map" 
        [latitude]="55.1684581"
        [longitude]="22.7739322"
        [zoom]="7">
        <div *ngFor="let item of locations">
          <sebm-google-map-marker
          *ngIf="item.location.lat"
          [latitude]="item.location.lat"
          [longitude]="item.location.lng">
          </sebm-google-map-marker>
        </div>
      </sebm-google-map>
    </md-card>
    <md-card class="filter-card">
      <md-toolbar class="md-primary" color="primary">
        Filtruoti skelbimus
      </md-toolbar>
      <form>       
        <md-grid-list cols="3" rowHeight="65px">
          <md-grid-tile>
            <md-select  [formControl]="categoryInput" (change)="onCategoryChanged($event.target.value)" placeholder="Kategorija">
              <md-option value="">
                Visos kategorijos
              </md-option>
              <md-option  *ngFor="let category of categories" [value]="category._id">
                {{category.name}}
              </md-option>
            </md-select>
          </md-grid-tile>
          <md-grid-tile>
            <md-select [formControl]="orderInput" placeholder="Rikiavimas">
              <md-option value=-1>Naujausi viršuje</md-option>
              <md-option value=1>Seniausi viršuje</md-option>
            </md-select>
          </md-grid-tile>
          <md-grid-tile>
            <md-input-container>
              <input md-input placeholder="Paieškos tekstas" type="text" [formControl]="searchInput">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>
      </form>
    </md-card>
    <md-card class="cards-wrapper" *ngIf="!loading">
      <md-toolbar class="md-primary" color="primary">
        Skelbimai
      </md-toolbar>
      <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

      <!--<div class="item-row" *ngFor="let item of items|async">
        <div class="image">
          <img md-list-avatar *ngIf="item.images && item.images.length > 0" [src]="item | displayMainImage">
          <img md-list-avatar *ngIf="!item.images || item.images.length <= 0" src="img/noimage2.png">
        </div>
        <div class="item-info">
          <h3>{{item.name}}</h3>
          <p>Kategorija: {{item.category.name}}, Sukurta {{item.timestamp | amTimeAgo}}</p>
          <p>{{item.description | truncate : 200 : '...'}}</p>
        </div>
      </div>-->
      <md-card *ngFor="let item of items|async" class="item-card">
        <md-card-title>
          <a [routerLink]="['/item/id', item._id]">{{item.name}}</a>
        </md-card-title>
        <div class="image-wrapper">
          <img *ngIf="item.images && item.images.length > 0" [src]="item | displayMainImage">
          <img *ngIf="!item.images || item.images.length <= 0" src="img/noimage2.png">
        </div>
        <md-card-subtitle>
          <div class="info">
            <span class="category">{{item.category.name}}</span>
            <span class="date">{{item.timestamp | amTimeAgo}}</span>
          </div>
      	</md-card-subtitle>
        <md-card-content>	
          {{item.description | truncate : 200 : '...'}}
        </md-card-content>
      </md-card>
        <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
        <md-spinner *ngIf="loading"></md-spinner>
    </md-card>
    

     
</div> 
