<div class="form-container">
  <div class="container-background">
    <div class="form-content">
      <div class="form-center">
        <h1>Your party is missing?</h1>
        <h2>Add it now! ></h2>
      </div>
      <div class="form-center">
        <form *ngIf="!loading" [formGroup]="addForm" (ngSubmit)="addItem(); upload.reset(); resetImages();" (keydown.enter)="$event.preventDefault()">
          <div style="display: table-row">
            <div class="form-inputs">
              <md-input dividerColor="accent" formControlName="name" placeholder="Party name"></md-input>
              <br/>
              <md-input dividerColor="accent" formControlName="description" placeholder="Description"></md-input>
              <br/>
              <input type="text" formControlName="location" id="autocomplete" #autocomplete/> 
              <br/>
              <br/>
              <select formControlName="category">
                <option value="">Pasirinkite kategoriją</option>
                <option *ngFor="let category of categories|async" [value]="category._id">{{category.name}}</option>
              </select>
              <br/>
              <image-upload #upload (onFile)="onImage($event)"></image-upload>
              <button color="accent" md-raised-button type="submit">Kurti skelbimą!</button>
            </div>
          </div>
        </form>
        <div *ngIf="!user">
          Norėdami sukurti skelbimą privalote prisijungti!
        </div>
        <md-spinner *ngIf="loading" class="preloader-wrapper big active"></md-spinner>
      </div>
    </div>
  </div>
</div>
