<div class="item-list">
    <!-- <mat-card class="map">
      <mat-toolbar class="md-primary" color="primary">
        Skelbimų žemėlapis
      </mat-toolbar>
      <sebm-google-map class="all-items-map" 
        [latitude]="55.1684581"
        [longitude]="22.7739322"
        [zoom]="7">
        <div *ngFor="let item of locations">
          <sebm-google-map-marker
          *ngIf="item.location.lat"
          [latitude]="item.location.lat"
          [longitude]="item.location.lng">

          <sebm-google-map-info-window [disableAutoPan]="true">
            Hi, this is the content of the <strong>info window</strong>
          </sebm-google-map-info-window>
          </sebm-google-map-marker>
        </div>
      </sebm-google-map>
    </mat-card> -->
    <mat-card class="filter-card">
      <mat-toolbar class="md-primary" color="primary">
        Filtruoti skelbimus
      </mat-toolbar>
      <form>       
        <mat-grid-list cols="3" rowHeight="65px">
          <mat-grid-tile>
            <mat-form-field floatingPlaceholder="false">
                <mat-select matInput placeholder="Kategorija" [formControl]="categoryInput" >
                  
                  <mat-option>
                    Visos kategorijos
                  </mat-option>
                  <mat-option  *ngFor="let category of categories" [value]="category._id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field floatingPlaceholder="false">
                  <mat-select matInput placeholder="Rikiavimas" [formControl]="orderInput">
                    <mat-option value="-1">Naujausi viršuje</mat-option>
                    <mat-option value="1">Seniausi viršuje</mat-option>
                  </mat-select>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
                  
              <input matInput placeholder="Paieškos tekstas" type="text" [formControl]="searchInput"/>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="95px">
            <mat-grid-tile>
              <mat-form-field floatingPlaceholder="false">
                  <input matInput type="text" #autocomplete placeholder="Vieta" [formControl]="cityInput" (change)="cityInputChange($event.target.value)" />
              </mat-form-field>
              
              
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                  <span>Paieškos spindulys (km)</span>                  
              </div>
              <div>
                  <mat-slider min='1' max='100' value="30" step='1' [disabled]='!(location | async)' thumbLabel='true' (change)="sliderChanged($event)" displayValue="number"></mat-slider>                  
              </div>
            </mat-grid-tile>
            <mat-grid-tile style="flex-wrap: wrap"> 
                  <mat-checkbox  [formControl]="imagesInput">Tik su nuotraukomis</mat-checkbox>  
            </mat-grid-tile>
          </mat-grid-list>
      </form>
    </mat-card>
    <mat-card class="cards-wrapper" *ngIf="!loading">
      <mat-toolbar class="md-primary" color="primary">
        Skelbimai
      </mat-toolbar>
      <pagination-controls directionLinks="true" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
      <mat-card *ngFor="let item of items|async" class="item-card">
        <mat-card-title>
          <a [routerLink]="['/item/id', item._id]">{{item.name}}</a>
        </mat-card-title>
        <div class="image-wrapper">
          <img *ngIf="item.images && item.images.length > 0" [src]="item | displayMainImage">
          <img *ngIf="!item.images || item.images.length <= 0" src="img/noimage2.png">
        </div>
        <mat-card-subtitle>
          <div class="info">
            <span class="category">{{item.category.name}}</span>
            <span class="date">{{item.timestamp | amTimeAgo}}</span>
          </div>
      	</mat-card-subtitle>
        <mat-card-content>	
          {{item.description}}
        </mat-card-content>
      </mat-card>
      <h3 *ngIf="!(items | async)">
        Skelbimų nerasta, pamėginkite pakeisti paieškos parametrus
      </h3>

        <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
        <mat-spinner *ngIf="loading"></mat-spinner>
    </mat-card>
    

     
</div> 
