<div class="md-content" layout="row" layout-align="center start" layout-fill layout-margin>
  <div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <mat-toolbar class="md-primary" color="primary">
      Susigražinkite slaptažodį!
    </md-toolbar>

    <div layout="column" layout-fill layout-margin layout-padding>
      <form [formGroup]="recoverForm" #f="ngForm" (ngSubmit)="recover()"
            layout="column" layout-fill layout-padding layout-margin>

        <mat-input formControlName="email" type="email" placeholder="Email"></md-input>

        <div layout="row" layout-align="space-between center">
          <button-raised-button class="md-primary" type="submit" aria-label="Recover">Susigrąžinti</button>
        </div>
      </form>

      <div [hidden]="error == ''">
        <mat-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </md-toolbar>
      </div>

      <mat-divider></md-divider>

      <div layout="row" layout-align="center">
        <a-button [routerLink]="['/login']">Prisiminėte slaptažodį?</a>
      </div>
    </div>
  </div>
</div>